# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
/media/
/staticfiles/

# Virtual environments
venv/
\.venv/

# Editor and system files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

taller_formularios1/

# Claude cache
.claude/
